@model GoraYazilim.Models.UrunViewModel

<div class="card">
    <a class="btn btn-success" asp-controller="Urun" asp-action="Create">Yeni Ürün</a>
    <div class="card-body">
        <div class="card-title">
            <h2>Ürünler</h2>
        </div>
        <table class="table table-bordered table-striped text-center ">
            <thead class="bg-dark text-white">
                <tr>
                    <td>UrunId</td>
                    <td>UrunAdi</td>
                    <td>UrunMarkasi</td>
                    <td>UrunKodu</td>
                    <td>UrunFiyat</td>
                    @*<td>KategoriId</td>*@
                    <td>Kategoriadı</td>
                    <td>İslemler</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Urunler)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(itemdisplay => item.UrunId)
                        </td>
                        <td>
                            @Html.DisplayFor(itemdisplay => item.UrunAdi)
                        </td>
                        <td>
                            @Html.DisplayFor(itemdisplay => item.UrunMarkasi)
                        </td>
                        <td>
                            @Html.DisplayFor(itemdisplay => item.UrunKodu)
                        </td>
                        <td>
                            @Html.DisplayFor(itemdisplay => item.UrunFiyat) ₺
                        </td>
                        @*<td>
                            @Html.DisplayFor(itemdisplay => item.KategoriId)
                        </td>*@

                        @foreach (var item2 in Model.Kategoriler)
                        {
                            if(item2.KategoriId == item.KategoriId){
                                <td>
                                    @Html.DisplayFor(itemdisplay => item2.KategoriAdi)
                                </td>
                            }
                           
                        }

                        <td>
                            <a class="btn btn-default" asp-controller="Alturun" asp-route-id="@item.UrunId" asp-action="GetById">Alt ürünleri </a> |
                            <a class="btn btn-default" asp-controller="Satici" asp-route-id="@item.UrunId" asp-action="GetById">Saticilar </a> |
                            <a class="btn btn-default" asp-controller="Fiyatlandirma" asp-route-id="@item.UrunId" asp-action="GetById">Ürün Fiyatlandirma Listesi </a> |
                            <a class="btn btn-primary" asp-controller="Urun" asp-route-id="@item.UrunId" asp-action="Edit">Düzenle </a> |
                            <a class="btn btn-danger" asp-controller="Urun" asp-action="Delete" asp-route-id="@item.UrunId">Sil </a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

</div>