@model List<GoraYazilim.Entity.DtoSatici>

<div class="card">
    <div class="card-body">
        <div class="card-title">
            <h2>Ürüne Ait Satıcılar</h2>
        </div>
        <table class="table table-bordered table-striped">
            <thead class="bg-dark text-white">
                <tr>
                    <td>SaticiId</td>
                    <td>SaticiAdi</td>
                    <td>SaticiMail</td>
                    <td>SaticiAdres</td>
                    <td>SaticiTelefon</td>
                    <td>SaticiTuru</td>                  
                    <td>UrunId</td>

                </tr>
            </thead>
            <tbody>
                
                @foreach (GoraYazilim.Entity.DtoSatici item in Model)
                {                    
                    <tr>
                        <td>
                            @Html.DisplayFor(itemdisplay => item.SaticiId)
                        </td>
                        <td>
                            @Html.DisplayFor(itemdisplay => item.SaticiAdi)
                        </td>
                        <td>
                            @Html.DisplayFor(itemdisplay => item.SaticiMail)
                        </td>
                        <td>
                            @Html.DisplayFor(itemdisplay => item.SaticiAdres)
                        </td>
                        <td>
                            @Html.DisplayFor(itemdisplay => item.SaticiTelefon)
                        </td>
                        <td>
                            @Html.DisplayFor(itemdisplay => item.SaticiTuru)
                        </td>                      
                        <td>
                            @Html.DisplayFor(itemdisplay => item.UrunId)
                        </td>
                     
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
